@import "utils";

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
#root {
  height: 100%;
}



.app {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 0 15px;
  overflow-x: hidden;

  .menu {
    font-family: 'Quantico', sans-serif;

    @media #{$md-device} {
      margin: 0 0 120px 0;
    }

    .desktop-menu {
      max-width: 1200px;
      margin: 0 auto;
      padding: 25px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media #{$md-device} {
        display: none;
      }

      .menu-name {
        color: rgb(36, 36, 36);
        font-weight: bold;
        font-size: 25px;

        .last-name {
          color: $portfolio-blue;
        }
      }

      nav {
        a {
          color: rgb(143, 143, 143);
          margin: 0 0 0 15px;
          font-weight: bold;
          font-size: 20px;
          text-decoration: none;
          position: relative;
          @include transition(all linear 0.25s);

          &::after {
            content: '';
            width: 0px;
            height: 5px;
            background-color: $portfolio-blue;
            position: absolute;
            bottom: -5px;
            left: 50%;
            @include translate(-50%, 0);
            @include transition(all linear 0.25s)
          }



          &:hover {
            color: rgb(24, 24, 24);

            &::after {
              content: '';
              width: 100%;
            }
          }

          &.menu-page-active {
            &::after {
              content: '';
              width: 100%;
            }
          }
        }
      }
    }

    .mobile-menu {
      display: none;
      position: fixed;
      width: 100%;
      box-sizing: border-box;
      z-index: 99999;
      // overflow-x: hidden;

      @media #{$md-device} {
        display: flex;
        background-color: $portfolio-blue;
        padding: 25px 15px;
        margin: 0 -15px 50px -15px;
        justify-content: space-between;
        align-items: center;

        .menu-name {
          color: #fff;
          font-weight: bold;
          font-size: 25px;
        }

        .burger-icon {
          color: #fff;
          font-size: 25px;

          &:hover {
            cursor: pointer;
          }
        }

        .mobile-nav {
          position: absolute;
          background-color: $portfolio-blue;
          top: 100%;
          right: 0;
          z-index: 999;
          width: 300px;
          max-width: 100%;
          padding: 25px;
          text-align: left;
          height: calc(100vh - 86px);
          box-sizing: border-box;
          @include transition(all linear 0.25s);

          a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            display: block;
            margin: 0 0 15px 0;

            &:hover {
              color: rgb(24, 24, 24);
            }
          }

          &.mobile-nav-hidden {
            @include translate(100%, 0);
            opacity: 0;
          }

          &.mobile-nav-visible {
            @include translate(0, 0);
            opacity: 1;
          }
        }

      }

    }

  }

  .home-page,
  .portfolio-page {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    @include border-radius(10px);
    overflow: hidden;
    box-shadow: 0 15px 25px 0 rgb(218, 218, 218);
    border: 1px solid #eee;
    @include transition(all linear 0.1s);

  }

  .home-page {

    .top-section {
      background-color: $portfolio-blue;
      padding: 50px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Quantico', sans-serif;

      @media #{$sm-device} {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .avatar-side {
        margin: 50px 0 -100px 0;
        @include transition(all linear 0.25s);


        &:hover {
          @include translate(0, -5%)
        }

        img {
          margin: 0;
          width: 300px;
          height: 300px;
          object-fit: cover;
          border-radius: 7px;
          border: 2px solid rgb(71, 71, 71);
          box-shadow: 0 15px 25px 0 rgb(71, 54, 54);

          @media #{$md-device} {
            width: 250px;
            height: 250px;
          }
        }

        @media #{$md-device} {
          margin: 0;
        }
      }

      .name-side {
        text-align: center;
        width: 50%;

        @media #{$sm-device} {
          width: 100%;
        }

        h1 {
          font-size: 50px;
        }

        p {
          font-size: 25px;
        }

        .links {
          svg {
            background-color: #fff;
            color: $portfolio-blue;
            padding: 10px;
            border-radius: 50%;
            margin: 0 5px;

            @include transition(all linear 0.25s);

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    .bottom-section {
      background-color: #fff;
      padding: 100px 50px 50px 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media #{$md-device} {
        flex-direction: column;
      }

      .about-me-side,
      .infos-side {
        width: 50%;

        @media #{$md-device} {
          width: 100%;
        }
      }

      .about-me-side {
        @media #{$md-device} {
          margin: 0 0 75px 0;
        }

        .about-me-title {
          color: $titles-grey;
          font-weight: bold;
          margin: 0 0 15px 0;

          span {
            color: $portfolio-blue;
          }
        }

        .about-me-text {
          color: #353535
        }

        .resume-btn {
          color: $titles-grey;
          border: none;
          border-radius: 7px;
          box-shadow: 0 5px 10px 0 rgb(131, 131, 131);
          margin: 20px 0 0 0;
          padding: 10px;
          background-color: #fff;

          @include transition(all linear 0.25s);

          &:hover {
            cursor: pointer;
            box-shadow: 0 5px 10px 0 rgb(63, 63, 63);
          }
        }
      }

      .infos-side {
        padding-left: 25px;

        @media #{$md-device} {
          padding: 0;
        }

        div {
          display: flex;
          padding-bottom: 15px;

          span:first-child {
            width: 150px;
            font-weight: bold;
            color: $titles-grey;
          }

          span:nth-child(2) {
            color: $text-grey;
          }
        }
      }
    }
  }

  .portfolio-page {
    .top-section {
      background-color: $portfolio-blue;
      padding: 50px;
      font-family: 'Quantico', sans-serif;
      font-size: 50px;
      color: #fff;
      font-weight: bold;
      text-align: center;

      @media #{$md-device} {
        padding: 25px;
        font-size: 30px;
      }
    }

    .bottom-section {
      padding: 50px;

      .project-cnt {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 100px 0;

        @media #{$md-device} {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .project-image {
          width: 350px;
          height: auto;
          border-radius: 7px;

          @media #{$md-device} {
            margin: 0 0 25px 0;
          }
        }

        .project-description-cnt {
          padding: 0 0 0 25px;
          width: 100%;

          @media #{$md-device} {
            padding: 0;
          }

          .project-title {
            border-bottom: 3px solid $portfolio-blue;
            padding: 0 0 10px 0;
            margin: 0 0 25px 0;
            color: $titles-grey;
            font-weight: bold;
            font-size: 20px;
          }

          .project-tech {
            background-color: $portfolio-blue;
            color: #fff;
            padding: 10px;
            margin: 25px 0 0 0;
            border-radius: 7px;
          }
        }
      }
    }
  }
}